<div class="col-sm-offset-2 col-sm-8 white">
  <form class="form-horizontal well transparent" id="contact_form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">電子郵件</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">姓名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">訊息</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-info btn-lg">送出</button>
      </div>
    </div>
  </form>
  <div class="text-center">
    <h3>公司地址: 臺中市清水區高美路371-4號</h3>
    <h3>訪客來廠.請先提前預約.</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3636.5969783488636!2d120.5656465!3d24.2908035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34691373d22e736d%3A0x2816f762af3a57c!2sNo.+371-4%2C+Gaomei+Rd%2C+Qingshui+District%2C+Taichung+City%2C+436!5e0!3m2!1sen!2stw!4v1436973529738" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>