@import 'variable';

.no_padding {
  padding: 0px !important;
}

.no_padding_right {
  padding-right: 0px !important;
}

.no_padding_left {
  padding-left: 0px !important;
}

.no_padding_top {
  padding-top: 0px !important;
}

.no_padding_bottom {
  padding-bottom: 0px !important;
}

.full_col {
  //height: $content_height;
  height: 100%;

  div.row_12 {
    height: 100%;
  }

  div.row_11 {
    height: 91.6666%;
  }

  div.row_10 {
    height: 83.3333%;
  }

  div.row_9 {
    height: 75%;
  }

  div.row_6 {
    height: 50%;
  }

  div.row_3 {
    height: 25%;
  }

  div.row_1 {
    height: 8.3333%;
  }
}

div.border {
  border: 5px solid whitesmoke;//LEMONCHIFFON;
  border-radius: 6px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


@media (min-width: 1680px) { }