@import 'variable';

#up,
#down {
  background-color: black;
}

#up {background: image-url("img1_mini.jpg") no-repeat center center fixed;background-size: cover;}
#down {background: image-url("img1_mini.jpg") no-repeat center center fixed;background-size: cover;}
#product_img1 {
  background: image-url("new/tree1.jpg") no-repeat;// fixed;
  background-size: cover;
  background-position: center;
}
#product_img2 {
  background: image-url("new/aaaa.jpg") no-repeat;// fixed;
  background-size: cover;
  background-position: center;
}
#product_img3 {
  background: image-url("new/aabb.png") no-repeat;// fixed;
  background-size: cover;
}
#product_img4 {
  background: image-url("c4812_mini.jpg") no-repeat;// fixed;
  background-size: cover;
  background-position: center;
}
#product_img5 {
  background: image-url("new/gress1.jpg") no-repeat;// fixed;
  background-size: cover;
  background-position: center;
}

#contact_link {
  text-decoration: underline;
}

#contact_form {
  label {
    font-size: 18px;
  }
}