  div#product_showcase_container.row_12_height

    = render 'products/partial/product_showcase_main_grid'

    = render 'products/partial/product_showcase_description'

    = render 'products/partial/product_related_products'
